@import 'variables';

.esri-wrap.esri-view {
  height: 100vh;
  width: 100%;
  display: block;
  border: 1px solid black;
}

.action-button {
  font-size: 16px;
  background-color: $black;
  border: 1px solid $black;
  color: white;
  height: $widget-width;
  width: $widget-width;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.action-button:not(:last-child) {
  border-right: 1px solid white;
}

.action-button:hover,
.action-button:focus {
  background-color: rgba($black, 0.8);
  color: white;
  cursor: pointer;
}

.active {
  background-color: rgba($black, 0.8);
  color: white;
}
